.table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
.table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
.table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
.table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
.table-data .head .bx {
	cursor: pointer;
}

.table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
.table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
.table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
.table-data .order table td {
	padding: 16px 0;
}
.table-data .order table tbody tr:hover {
	background: var(--grey);
}
.table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
.table-data .order table tr td .status.completed {
	background: var(--blue);
}
.table-data .order table tr td .status.process {
	background: var(--yellow);
}
.table-data .order table tr td .status.pending {
	background: var(--orange);
}

.action_btn {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.action_btn>a {
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 6px 9px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.action_btn>a:nth-child(1) {
    background-color: #26a69a;
    color:white;
    font-size:1rem;
    padding: 8px 9px;
    margin-right:3px;
}

#delete {
    background-color: orange;
    color:white;
    font-size:1rem;
}

.action_btn>a:hover {
    box-shadow: 0 3px 8px #0003;
}

table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

table tr td .status.completed {
	background: var(--blue);
	margin-right:0px;
	margin-right:2px;
}
table tr td .status.process {
	background: var(--yellow);
}
table tr td .status.pending {
	background: var(--orange);
}

.action{
  display:flex;
  justify-content:center;
  justify-content:flex-start;
}